[submodule "host-info-backend"]
	path = host-info-backend
	url = https://github.com/luchoman08/host-info-backend
[submodule "host-info-frontend"]
	path = host-info-frontend
	url = https://github.com/luchoman08/host-info-frontend
[submodule "ssllabs"]
	path = ssllabs
	url = https://github.com/luchoman08/ssllabs
[submodule "goscraper"]
	path = goscraper
	url = https://github.com/luchoman08/goscraper
